<!DOCTYPE html>
<html lang="ru">
<head>
    <link href="C:\Users\maks_\Desktop\для сайта itcher\css./app.css" rel="stylesheet">
    <link href="C:\Users\maks_\Desktop\для сайта itcher\css./transform.css" rel="stylesheet">
    <link href="C:\Users\maks_\Desktop\для сайта itcher\css./group-style-two.css" rel="stylesheet">
    <link href="logo.ico" rel="shortcut icon" type="image/x-icon">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>ITeacher</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
<div class="page">
    <header class="common_header">
        <a class="logo_link" href="http://localhost:8000/"><img class="logo" src="./localhost_files/logo.png"></a>

        <nav class="nav-links">
            <a class="nav_btn_header" href="http://localhost:8000/">Главная
                <div class="line"></div>
            </a>
            <a class="nav_btn_header" href="http://localhost:8000/courses/">Все курсы
                <div class="line"></div>
            </a>
            <a class="nav_btn_header" href="http://localhost:8000/courses/my">Мои курсы
                <div class="line"></div>
            </a>
            <a class="nav_btn_header" href="http://localhost:8000/deadlines/">Дедлайны
                <div class="line"></div>
            </a>
        </nav>

        <div class="account">
            <a class="to_acc" href="http://localhost:8000/profile/">
                <div class="acc_background"><img class="avatar" src="user_avatar.png"></div>
                admin@admin.ru
            </a>
        </div>

        <div class="menu-hamburger">
            <span class="hamburger"></span>
            <span class="hamburger"></span>
            <span class="hamburger"></span>
        </div>
    </header>

    <div class="content">
        <div class="title">
            <h2>Шаг 1. Тестирование</h2>
            В этом тесте ты проверишь свои знания, полученные из прохождения первого шага моего прекрасного курса.
        </div>

        <div class="info">
            <h4>Информация</h4>
            <ul>
                <div class="comment">
                    <li>Время выполнения:</li>
                    30 минут
                </div>
                <br>
                <div class="comment">
                    <li>Дедлайн:</li>
                    15 часов
                </div>
                <br>
                <div class="comment">
                    <li>Количество баллов:</li>
                    15
                </div>
                <br>
                <div class="comment">
                    <li>Попыток:</li>
                    2
                </div>
                <br>
            </ul>
        </div>
    </div>

    <nav class="container_buttons">
        <a href="#">
            <button>Назад</button>
        </a>
        <button type="submit">Начать</button>
    </nav>

    <footer>
        <div class="footer_nav">
            <a class="hyperlink" href="#">
                <p>Политика конфиденциальности</p>
            </a>
            <a class="hyperlink" href="#">
                <p>Часто задаваемые вопросы</p>
            </a>
            <a class="hyperlink" href="#">
                <img class="network_logo" src="instagram.png">
                <p>/SCHOOL_ITEACHER_INST</p>
            </a>
            <a class="hyperlink" href="#">
                <img class="network_logo" src="vk.png">
                <p>/SCHOOL_ITEACHER_VK</p>
            </a>
        </div>
    </footer>
</div>
</body>
</html>