{% load i18n %}
{% load cookie_consent_tags %}
{% load static %}

<html>
  <head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></head>

 <body>

  <div class="cookie-group">
    <div class="cookie-group-title">
        <h3>{{ cookie_group.name }}</h3>
        <p>
          {{ cookie_group.description|linebreaksbr }}
        </p>
    </div>

    <table>
      <ul>
        {% for cookie in cookie_group.cookie_set.all %}
          <tr>
            <th>
              <li>{{ cookie.name }}</li>

              {% if cookie.domain %}
                ({{ cookie.domain }})
              {% endif %}
            </th>
            <td>
              {% if cookie.description %}
                {{ cookie.description }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </ul>
    </table>

    {% if not cookie_group.is_required %}
      <div class="cookie-group-form">
       {% if request|cookie_group_accepted:cookie_group.varname %}
         <span class="cookie-consent-accepted status">{% trans 'Принято!' %}</span>
       {% else %}
         <form class="cookie-consent-accept" action="{% url 'cookie_consent_accept' cookie_group.varname %}" method="POST">
           {% csrf_token %}
           <input type="submit" value="{% trans 'Принять' %}">
         </form>
       {% endif %}

       {% if request|cookie_group_declined:cookie_group.varname %}
         <span class="cookie-consent-declined status">{% trans 'Отказано!' %}</span>
       {% else %}
         <form class="cookie-consent-decline" action="{% url 'cookie_consent_decline' cookie_group.varname %}" method="POST">
           {% csrf_token %}
           <input type="submit" class="decline" value="{% trans 'Отказаться' %}">
         </form>
       {% endif %}
      </div>
    {% endif %}
  </div>

</body>
</html>