{% extends 'courses/base.html' %}
{% load static %}

{% block links %}
<link href="{% static 'css/my_courses.css' %}" rel="stylesheet">
<link href="{% static 'css/course.css' %}" rel="stylesheet">
{% endblock links %}

{% block content %}
<div class="content">
    <h2>{{ course.title }}</h2>
    <br>
    <ul>
        {% if course.full_price %}
        <li>Цена за весь курс: {{ course.full_price }}</li>
        {% else %}
        <li>Бесплатно</li>
        {% endif %}
        {% if course.month_price %}
        <li>Цена в месяц: {{ course.month_price }}</li>
        {% endif %}
        {% if course.course_duration %}
        <li>Длительность курса: {{ course.course_duration }}</li>
        {% endif %}
    </ul>
    <br>
    <h3>{{ course.description|safe }}</h3>
</div>
{% endblock content %}