<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T00PP3FYVR"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-T00PP3FYVR');
    </script>

    <meta charset="UTF-8">
    <title>My account</title>
</head>
<body>
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    <h2>ID: {{ user.id }}</h2>
    <br><br>
    <p><a href="{% url 'logout' %}">Выйти</a></p>
</body>
</html>