<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
    {% include 'courses/analytics.html' %}

    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <link href="{% static 'css/store.css' %}" rel="stylesheet">
    <link href="{% static 'css/transform.css' %}" rel="stylesheet">
    {% block links %}{% endblock links %}

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block page_name %}{{ title }}{% endblock page_name %}</title>
</head>
<body>
    {% include 'courses/header_base.html' %}
    <div class="page">
        {% block content %}{% endblock content %}
    </div>
    {% include 'courses/footer_base.html' %}
    <script src="{% static 'js/responsive.js' %}"></script>
</body>
</html>