{% extends 'courses/base.html' %}
{% load static %}

{% block links %}
<link href="{% static 'css/my_courses.css' %}" rel="stylesheet">
<link href="{% static 'css/course.css' %}" rel="stylesheet">
{% endblock links %}

{% block content %}
<div class="content">
    <section class="wrapper_courses">
        {% for lesson, stats in lessons_stats_zip %}
        <section class="course">
            <div class="wrapper_step">
                <div class="number_step">Шаг {{ forloop.counter }}</div>
            </div>
            <div class="background_course {{ course.backplate_color }}">
                <div class="name">{{ lesson.title|truncatechars:38 }}</div>
                <div class="about_step">{{ lesson.short_description|truncatechars:68 }}</div>
                <div class="wrapper_status">
                    <div class="status {% if stats.status == 'Выполняется' %}in_progress{% elif stats.status == 'Не доступен' %}unavailable{% elif stats.status == 'Выполнено' %}done{% else %}available{% endif %}">
                        {% if stats %}
                            {{ stats.status }}
                        {% else %}
                            Доступен
                        {% endif %}
                    </div>
                </div>
            </div>
            <a href="{% url 'courses:lesson' course.pk lesson.pk %}">
                <button class="btn_start">Выполнить</button>
            </a>
        </section>
        {% endfor %}
    </section>
</div>

<script src="{% static 'js/btn_switcher.js' %}"></script>
{% endblock content %}