<!DOCTYPE html>
<html lang="ru">
<head>
    <link href="C:\Users\maks_\Desktop\для сайта itcher\css./app.css" rel="stylesheet">
    <link href="C:\Users\maks_\Desktop\для сайта itcher\css./transform.css" rel="stylesheet">
    <link href="C:\Users\maks_\Desktop\для сайта itcher\css./deadlines.css" rel="stylesheet">
    <link href="C:\Users\maks_\Desktop\для сайта itcher\css./group-style-one.css" rel="stylesheet">
    <link rel="shortcut icon" href="logo.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITeacher</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    <div class="page">
        
        <header class="common_header">
            <a href="http://localhost:8000/" class="logo_link"><img class="logo" src="./localhost_files/logo.png"></a>

            <nav class="nav-links">
                <a href="http://localhost:8000/" class="nav_btn_header">Главная<div class="line"></div></a>
                <a href="http://localhost:8000/courses/" class="nav_btn_header">Все курсы<div class="line"></div></a>
                <a href="http://localhost:8000/courses/my" class="nav_btn_header">Мои курсы<div class="line"></div></a>
                <a href="http://localhost:8000/deadlines/" class="nav_btn_header">Дедлайны<div class="line"></div></a>
            </nav>

            <div class="account">
                <a href="http://localhost:8000/profile/" class="to_acc">
                    <div class="acc_background"><img class="avatar" src="user_avatar.png"></div>
                    
                        
                            admin@admin.ru
                        
                    
                </a>
            </div>

            <div class="menu-hamburger">
                <span class="hamburger"></span>
                <span class="hamburger"></span>
                <span class="hamburger"></span>
            </div>
        </header>

            <div class="content">

                <section class="all_filters">
                    <div class="filter">
                        <label class="filter_lbl">Навание курса</label>
                        <img class="img_button" src="пиктограмма-поиск.svg">  
                    </div>
                    
                    <section class="additional_container">
                        <div class="filter_buttons">
                            <button class="btn_open_filters">
                                <h3>Фильтры</h3>
                                <img class="thematic_picture" src="пиктограмма фильры.svg">
                            </button>

                            <div class="btn_reset_filters">
                                <h3>Сбросить фильтры</h3>                               
                                <img class="thematic_picture" src="пиктограмма крестик.svg">
                            </div>
                        </div>
                    
                        <div class="filter">
                            <label class="filter_lbl">Автор курса</label>
                            <img class="img_button_filters" src="кнопка выбора.svg">
                        </div>

                        <div class="filter">
                            <label class="filter_lbl">Категория</label>
                            <img class="img_button_filters" src="кнопка выбора.svg">
                        </div>
                    </section>                                 
                </section>

                <section class="wrapper_courses">
                    <section class="course">
                        <div class="background_course yellow">

                            <div class="info_course">
                                <div class="name">Сайтостроение</div>
                                <div class="author"> Автор: Мариша Иванов</div>
                            </div>

                            <div class="timer">12:08:12</div>

                            <div class="lbl_task">Шаг 11. Адаптивная верстка</div>

                        </div>

                        <a src="">
                            <button class="btn_start">Выполнить</button>
                        </a>   
                    </section> 

                    <section class="course">
                        <div class="background_course blue">

                            <div class="info_course">
                                <div class="name">Сайтостроение</div>
                                <div class="author"> Автор: Мариша Иванов</div>
                            </div>

                            <div class="timer">12:08:12</div>

                            <div class="lbl_task">Шаг 11. Адаптивная верстка</div>

                        </div>

                        <a src="">
                            <button class="btn_start">Выполнить</button>
                        </a>   
                    </section> 

                    <section class="course">
                        <div class="background_course pink">

                            <div class="info_course">
                                <div class="name">Сайтостроение</div>
                                <div class="author"> Автор: Мариша Иванов</div>
                            </div>

                            <div class="timer">12:08:12</div>

                            <div class="lbl_task">Шаг 11. Адаптивная верстка</div>

                        </div>

                        <a src="">
                            <button class="btn_start">Выполнить</button>
                        </a>   
                    </section> 
                </section>
            </div> 

        <footer>
            <div class="footer_nav">
                <a href="#" class="hyperlink">
                    <p>Политика конфиденциальности</p>
                </a>
                <a href="#" class="hyperlink">
                    <p>Часто задаваемые вопросы</p>
                </a>
                <a href="#" class="hyperlink">
                    <img class="network_logo" src="instagram.png">
                    <p>/SCHOOL_ITEACHER_INST</p>
                </a>
                <a href="#" class="hyperlink">
                    <img class="network_logo" src="vk.png">
                    <p>/SCHOOL_ITEACHER_VK</p>
                </a>     
            </div>
        </footer>
    
    </div>
    <script src="background-course.js"></script>
</body>
</html>