{% load static %}
<footer>
    <nav class="footer_nav">
        <div class="block_wrapper">
            <div class="name_block">Правила платформы</div>
            <a href="" class="hyperlink">Политика обработки персональных данных</a>
            <a href="" class="hyperlink">Пользовательское соглашение</a>
        </div>

        <div class="block_wrapper">
            <div class="name_block">Мы в соцсетях</div>
            <a href="https://t.me/iteacherma_it" class="hyperlink"><img class="network_logo" src="{% static 'images/tg.png' %}">/iteacherma_it</a>
            <a href="https://vk.com/iteacherma" class="hyperlink"><img class="network_logo" src="{% static 'images/vk.png' %}">/iteacherma</a>
        </div>
    </nav>

    <div class="copy_sign">&#169; 2023 icodely</div>

    {% include 'courses/cookies.html' %}
</footer>