{% load static %}

<footer>
    <div class="footer_nav">
        <a href="#" class="hyperlink">
            <p>Политика конфиденциальности</p>
        </a>
        <a href="#" class="hyperlink">
            <p>Часто задаваемые вопросы</p>
        </a>
        <a href="https://t.me/iteacherma_it" class="hyperlink" target="_blank">
            <img class="network_logo" src="{% static 'images/tg.png' %}">
            <p>/iteacherma_it</p>
        </a>
        <a href="https://vk.com/iteacherma" class="hyperlink" target="_blank">
            <img class="network_logo" src="{% static 'images/vk.png' %}">
            <p>/iteacherma</p>
        </a>
    </div>

    {% include 'courses/cookies.html' %}
</footer>
