{% load static %}

<footer>
    <div class="footer_nav">
        <a class="hyperlink">
            <p>Политика конфиденциальности</p>
        </a>
        <a class="hyperlink">
            <p>&#169; 2023 icodely</p>
        </a>
        <a class="hyperlink" href="https://t.me/iteacherma_it" target="_blank">
            <img class="network_logo" src="{% static 'images/tg.png' %}">
            <p>/iteacherma_it</p>
        </a>
        <a class="hyperlink" href="https://vk.com/iteacherma" target="_blank">
            <img class="network_logo" src="{% static 'images/vk.png' %}">
            <p>/iteacherma</p>
        </a>
    </div>

    {% include 'courses/cookies.html' %}
</footer>
