{% load static %}

<header class="common_header">
        <a href="{% url 'courses:index' %}" class="logo_link"><img class="logo" src="{% static 'images/logo.png' %}" ></a>

        <nav class="nav-links">
            <a href="{% url 'courses:index' %}" class="nav_btn_header">Главная<div class="line"></div></a>
            <a href="{% url 'courses:all_courses' %}" class="nav_btn_header">Все курсы<div class="line"></div></a>
            <a href="{% url 'courses:my_courses' %}" class="nav_btn_header">Мои курсы<div class="line"></div></a>
            <a href="{% url 'courses:deadline' %}" class="nav_btn_header">Дедлайны<div class="line"></div></a>
        </nav>

        <div class="account">
            <a href="{% url 'usermanager:profile' %}" class="to_acc">
                <div class="header_avatar">
                    <img src="{{ user.avatar.url }}" alt="{{ user.avatar }}" class="avatar">
                </div>
                {% if user.is_authenticated %}
                    {% if user.first_name or user.last_name %}
                        {{ user.first_name }} {{ user.last_name }}
                    {% else  %}
                        {{ user.email }}
                    {% endif %}
                {% else %}
                    <a href="{% url 'usermanager:login' %}">Войти</a>
                {% endif %}
            </a>
        </div>

        <div class="menu-hamburger">
            <span class="hamburger"></span>
            <span class="hamburger"></span>
            <span class="hamburger"></span>
        </div>
    </header>