{% load static %}

<header class="common_header">
    <a class="logo_link" href="{% url 'base:index' %}"><img class="logo" src="{% static 'images/logo.png' %}"></a>

    <nav class="nav-links">
        <a class="nav_btn_header" href="{% url 'base:index' %}">Главная
            <div class="line"></div>
        </a>
        <a class="nav_btn_header" href="{% url 'courses:all_courses' %}">Все курсы
            <div class="line"></div>
        </a>
        <a class="nav_btn_header" href="{% url 'courses:my_courses' %}">Мои курсы
            <div class="line"></div>
        </a>
        <a class="nav_btn_header" href="{% url 'courses:deadline' %}">Дедлайны
            <div class="line"></div>
        </a>
    </nav>

    <div class="account">
        <a class="to_acc" href="{% url 'usermanager:profile' %}">
            <div class="acc_background">
                <img alt="{{ user.avatar }}" class="avatar" src="{{ user.avatar.url }}">
            </div>
            {% if user.is_authenticated %}
            {% if user.first_name or user.last_name %}
            {{ user.first_name }} {{ user.last_name }}
            {% else %}
            {{ user.email }}
            {% endif %}
            {% else %}
            <a href="{% url 'usermanager:login' %}">Войти</a>
            {% endif %}
        </a>
    </div>

    <div class="menu-hamburger">
        <span class="hamburger"></span>
        <span class="hamburger"></span>
        <span class="hamburger"></span>
    </div>
</header>