{% extends 'courses/base.html' %}
{% load static %}

{% block links %}
    <link href="{% static 'css/homework.css' %}" rel="stylesheet">
{% endblock links %}

{% block content %}
<div class="content">

    <div class="title">
        <h2>{{ homework.title }}</h2>
        {{ homework.description }}
    </div>

    <div class="info">
        <h4>Информация</h4>
        <ul>
            <div class="comment"><li>Дедлайн:</li>N/A</div><br>
            <div class="comment"><li>Количество баллов:</li>N/A</div><br>
        </ul>
    </div>

    {% if homework.homework_file %}
        <form method="POST" autocomplete="off" enctype="multipart/form-data">
            <div class="loads_btn">
                <h4>Файлы к работе</h4>
                <div class="warning">Внимание! При скачивании задания, вы начинаете его выполнение.</div>
                <div class="loads_btn_container">

                    <a href="{{ homework.homework_file.url }}">
                        <div class="load__file-button">
                            <span class="file_ico"><img class="picto" src="{% static 'images/download.png' %}"></span>
                            Скачать задание
                        </div>
                    </a>

                    <input type="file" name="file" id="download__file-2" class="download download__file" multiple>
                    <label class="download__file-wrapper" for="download__file-2">
                        <div class="load__file-button">
                            <span class="file_ico"><img class="picto" src="{% static 'images/upload.png' %}"></span>
                            Загрузить файл
                        </div>
                        <div class="download__file-list"></div>
                    </label>
                </div>
            </div>
        </form>
    {% endif %}

<div class="loads_btn">
    <h4>Тестовое задание</h4>
    <div class="warning">Тестовое задание входит в состав домашнего задания!</div>
    <button type="submit"><a href="{% url 'examination:exam' homework.exam.id %}">Решить тест</a></button>
</div>

<div class="info">
    <h4>Результат</h4>
    <ul>
        <div class="comment"><li>Баллы:</li>N/A</div><br>
        <div class="comment"><li>Статус работы:</li>N/A</div><br>
        <div class="comment"><li>Комментарий:</li>N/A</div><br>
    </ul>
</div>
</div>

<nav class="container_buttons">
<a href="#"><button>Назад</button></a>
<button type="submit">Сдать работу</button>
</nav>
{% endblock content %}
<script src="{% static 'js/upload_files.js' %}"></script>