{% extends 'courses/base.html' %}
{% load static %}

{% block links %}
<link href="{% static 'css/homework.css' %}" rel="stylesheet">
{% endblock links %}

{% block content %}
<div class="content">

    <div class="title">
        <h2>{{ homework.title }}</h2>
        {{ homework.description }}
    </div>

    <div class="info">
        <h4>Информация</h4>
        <ul>
            <div class="comment">
                <li>Дедлайн:</li>
                N/A
            </div>
            <br>
            <div class="comment">
                <li>Количество баллов:</li>
                N/A
            </div>
            <br>

        </ul>
    </div>

    {% if homework.homework_file %}
    <form action="{% url 'courses:homework' course_id lesson.id homework.id %}" autocomplete="off" enctype="multipart/form-data"
          method="POST">
        {% csrf_token %}
        <div class="loads_btn">
            <h4>Файлы к работе</h4>
            <div class="warning">Внимание! При скачивании задания, вы начинаете его выполнение.</div>
            <div class="loads_btn_container">

                <a href="{{ homework.homework_file.url }}" target="_blank">
                    <div class="load__file-button">
                        <span class="file_ico"><img class="picto" src="{% static 'images/download.png' %}"></span>
                        Скачать задание
                    </div>
                </a>

                <!--                    <input type="file" name="homework_upload_file" id="id_homework_upload_file" class="download download__file">-->
                <!--                    <label class="download__file-wrapper" for="id_homework_upload_file">-->
                <!--                        <div class="load__file-button">-->
                <!--                            <span class="file_ico"><img class="picto" src="{% static 'images/upload.png' %}"></span>-->
                <!--                            Загрузить файл-->
                <!--                        </div>-->
                <!--                        <div class="download__file-list"></div>-->
                <!--                    </label>-->
            </div>
        </div>
    </form>
    {% endif %}

    {% if homework.exam %}
    <div class="exam_btn">
        <h4>Тестовое задание</h4>
        <div class="warning">Тестовое задание входит в состав домашнего задания!</div>
        <nav class="container_buttons">
            {% if statistics.exam_attempts < exam_max_attempts %}
            <a href="{% url 'examination:exam' homework.exam.id %}">
                <button type="button">Решить тест</button>
            </a>
            {% endif %}
            {% if statistics.exam_attempts != 0 %}
            <a href="{% url 'examination:exam_result' homework.exam.id %}">
                <button type="button">Результаты теста</button>
            </a>
            {% endif %}
        </nav>
    </div>
    {% endif %}

    <div class="info">
        <h4>Результат</h4>
        <ul>
            <div class="comment">
                <li>Баллы домашней работы:</li>
                {{ statistics.homework_result }}/{{ homework.homework_max_result }}
            </div>
            <br>
            <div class="comment">
                <li>Статус работы:</li>
                {% if not statistics.is_homework_complete %}
                Доступно для выполнения
                {% elif statistics.is_exam_complete and statistics.is_homework_complete %}
                Всё задание выполнено!
                {% elif statistics.is_homework_checked %}
                Задание проверено
                {% elif statistics.is_homework_complete %}
                Задание отправлено
                {% endif %}
            </div>
            <br>
            {% if statistics.homework_comment %}
            <div class="comment">
                <li>Комментарий:</li>
                {{ statistics.homework_comment }}
            </div>
            <br>{% endif %}
        </ul>
    </div>
</div>

<nav class="container_buttons">
    <a href="{% url 'courses:lesson' course_id lesson.id %}">
        <button>Назад</button>
    </a>
    <!--        <button type="submit">Сдать работу</button>-->
</nav>
{% endblock content %}
<script src="{% static 'js/upload_files.js' %}"></script>