<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
     <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <link href="{% static 'css/transform.css' %}" rel="stylesheet">
    <link href="{% static 'css/mainpage.css' %}" rel="stylesheet">

    <link rel="shortcut icon" href="logo.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <title>{% block page_name %}{{ title }}{% endblock page_name %}</title>
</head>

<body>
    <div class="page">
        
        <header class="common_header">
            <a href="{% url 'index' %}" class="logo_link"><img class="logo" src="{% static 'images/logo.png' %}" ></a>
        </header>


        <div class="content_mainpage">
            <nav>
                <a href="{% url 'all_courses' %}">
                    <div class="wrapper">
                        <div class = "backplate">
                            <img class="fan_picture" src="{% static 'images/sticker_1.png' %}">
                            <div class="caption">Все курсы</div>
                            <div class="description">Хочешь изучить что-то новое? Тогда тебе сюда!</div>
                            <img class="thematic_picture" src="{% static 'images/arrow.png' %}">
                        </div>
                    </div>
                </a>

                <a href="{% url 'my_courses' %}">
                    <div class="wrapper">
                        <div class = "backplate">
                            <img class="fan_picture" src="{% static 'images/sticker_2.png' %}">
                            <div class="caption">Мои курсы</div>
                            <div class="description">Все твои курсы хранятся здесь</div>
                            <img class="thematic_picture" src="{% static 'images/arrow.png' %}">
                        </div>
                    </div>
                </a>

                <a href="{% url 'deadline' %}">
                    <div class="wrapper">
                        <div class = "backplate">
                            <img class="fan_picture" src="{% static 'images/sticker_3.png' %}">
                            <div class="caption">Дедлайны</div>
                            <div class="description">Проследи за сроком выполнения заданий</div>
                            <img class="thematic_picture" src="{% static 'images/arrow.png' %}">
                        </div>
                    </div>
                </a>

                <a href="{% url 'myaccount' %}">
                    <div class="wrapper">
                        <div class = "backplate">
                            <img class="fan_picture" src="{% static 'images/sticker_4.png' %}">
                            <div class="caption">Аккаунт</div>
                            <div class="description">Манипуляции</div>
                            <img class="thematic_picture" src="{% static 'images/arrow.png' %}">
                        </div>
                    </div>
                </a>
                
            </nav>
        </div> 
       

        <footer>
            <div class="footer_nav">
                <div class="hyperlink">
                    <p>Политика конфиденциальности</p>
                </div>
                <div class="hyperlink">
                    <p>Часто задаваемые вопросы</p>
                </div>
                <div class="hyperlink">
                    <img class="network_logo" src="instagram.png">
                    <p>/SCHOOL_ITEACHER_INST</p>
                </div>
                <div class="hyperlink">
                    <img class="network_logo" src="vk.png">
                    <p>/SCHOOL_ITEACHER_VK</p>
                </div>     
            </div>
        </footer>
    </div>
</body>
</html>
