<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <link href="{% static 'css/new_login.css' %}" rel="stylesheet">
    <link href="{% static 'css/transform.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="logo.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>

  {% block login_form %}
  {% endblock login_form %}

</body>
</html>