{% extends 'courses/base.html' %}

{% block content %}
    <main class="container">
        <div class="row">
            <div class="col">
                {% for course in courses %}
                    <div class="course">
                        <h2><a href="{% url 'course' course.pk %}">{{ course.title }}</a></h2>
                        <p>Автор: {{ course.author }}</p>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock content %}