.wrapper_step{
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
    background-color: rgba(218, 218, 218, 1);
    padding: 0px 5px 5px 0px;
    border-radius: 15px 0px 15px 0px;
}

.number_step{
    font-size: 15px;
    background: rgb(0,0,0,0.75);
    color: white;
    padding: 7px;
    border-radius: 10px 0px 10px 0px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name{
    font-size: 18px;
    font-weight: 600;
    margin: 40px 20px 10px;
    overflow: hidden;
}

.about_step{
    font-size: 15px;
    margin: 0px 20px 10px;
    height: 85px;
    overflow: hidden;
}

.wrapper_status{
    display: flex;
    align-items: center;
    justify-content: center;

}

.status{
    position: absolute;
    bottom: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: inherit;
    width: 120px;
    height: 34px;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid;
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 500;
}

.available, .done{
    border-color: rgba(36, 125, 56, 1);
    color: rgba(36, 125, 56, 1);

}

.in_progress{
    border-color: rgb(218, 114, 16);
    color: rgb(218, 114, 16);
}

.unavailable{
    border-color: #D92525;
    color: #D92525;
}

.watch_button{
    background: inherit;
    border: 1.3px solid #DE3636;
    color: #DE3636;
}

.unavailable_buttton{
    background: #817F7F;
}


@media (min-width: 370px) and (max-width: 539px) {
    .name{
        font-size: 25px;
        margin: 50px 20px 10px;
    }

    .status{
        width: 165px;
        height: 40px;
        font-size: 15px;
    }

    .number_step{
        padding: 12px;
        font-size: 17px;
        width: 105px;
    }
}