.progress{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 13px;
    bottom: 0%;
    width: 201px;
    height: 20px;
    background: #D9D9D9;;
    border-radius: 5px;
    color: black;
    font-size: 15px;
}

.btn_start{
    width: 227px;
    height: 50px;
    border-radius: 15px;
    color: white;
}


@media (min-width: 370px) and (max-width: 539px) { 
    .progress{
        width: 286px;
        height: 25px;
        margin: 15px;
    }

    .btn_start{
        width: 316px;
        height: 58px;
    }
}