button:hover{
    background: rgb(82, 82, 82);
}

.btn_details:hover{
    color: white;
    border: 1px solid #D9D9D9;
}

button:active{
    opacity: 0.6;
    transition: 0.1s ease-in-out;
}




/*
.btn_open_filters:hover{
    transition: 0.3s ease-in-out;
    background-color: rgb(151, 151, 151);
}

.rotated{
    transform: rotate(180deg);
}

.popup_close:hover{
    color: white;
    transition: 0.3s ease-in-out;
}

.button_reset_filters:hover{
    background-color: white;
    transition: 0.5s all;
    color: hsl(0, 72%, 54%);
}

.button_reset_filters > .thematic_picture :hover{
    transition: 0.3s ease-in-out;
    color: hsl(0, 72%, 54%);
}
*/

.backplate:hover{
    background: rgb(82, 82, 82);
}

.backplate:active{
    opacity: 0.6;
}