{% extends 'usermanager/login_base.html' %}

{% block page_name %}
Авторизация • icodely
{% endblock page_name %}

{% block login_form %}
<div class="wrapper_log">
    <form action="{% url 'usermanager:login' %}" autocomplete="off" id="loginForm" method="POST">
        {% csrf_token %}
        <h2>Авторизация</h2>
        <div class="input-group">
            {{ form.username }}
            {{ form.username.label_tag }}
            <span class="icon">
                <i class="fa-regular fa-user"></i>
            </span>
            <span class="line"></span>
        </div>
        {{ form.username.errors }}
        <div class="input-group">
            {{ form.password }}
            {{ form.password.label_tag }}
            <span class="icon" id="toggle_password">
                <i class="far fa-eye-slash"></i>
            </span>
            <span class="line"></span>
        </div>
        {{ form.password.errors }}
        <div class="check">
            <label>{{ form.remember_me }}<span class="text">Запомнить меня</span></label>
            <a href="{% url 'usermanager:reset_password' %}">Забыли пароль?</a>
        </div>
        <button type="submit">Войти</button>
        <div class="register">
            <p>Нет аккаунта? <a href="{% url 'usermanager:signup' %}">Зарегистрироваться</a></p>
        </div>
        {{ form.captcha }}
    </form>
</div>
{% endblock login_form %}