<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    {% include 'base/analytics.html' %}

    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    <link href="{% static 'css/transform.css' %}" rel="stylesheet">
    <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">

    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{% block page_name %}{{ title }}{% endblock page_name %}</title>
</head>
<body>

{% block login_form %}
{% endblock login_form %}

<script src="{% static 'js/password_toggler.js' %}"></script>
</body>
</html>