{% extends 'usermanager/login_base.html' %}

{% block page_name %}
Регистрация • icodely
{% endblock page_name %}

{% block login_form %}
<div class="wrapper_reg">
    <form action="{% url 'usermanager:signup' %}" autocomplete="off" id="registerForm" method="POST">
        {% csrf_token %}
        <h2>Регистрация</h2>
        {% for field in form.visible_fields %}
        {% if not forloop.last %}

        <div class="input-group">

            {{ field }}
            {{ field.label_tag }}

            {% if field.name == 'username' %}
            <span class="icon">
                            <i class="fa-regular fa-user"></i>
                        </span>
            {% elif field.name == 'email' %}
            <span class="icon">
                            <i class="fa-regular fa-envelope"></i>
                        </span>
            {% elif field.name == 'password1' %}
            <span class="icon" id="toggle_password1">
                            <i class="far fa-eye-slash"></i>
                        </span>
            {% elif field.name == 'password2' %}
            <span class="icon" id="toggle_password2">
                            <i class="far fa-eye-slash"></i>
                        </span>
            {% endif %}

            <span class="line"></span>
        </div>
        {{ field.errors }}
        {% endif %}
        {% endfor %}
        <button type="submit">Подтвердить</button>
        <div class="register">
            <p>Уже есть аккаунт? <a href="{% url 'usermanager:login' %}">Войти</a></p>
        </div>
        {{ form.captcha }}
    </form>
</div>
{% endblock login_form %}