{% extends 'usermanager/login_base.html' %}

{% block page_name %}
Регистрация • icodely
{% endblock page_name %}

{% block login_form %}
<div class="wrapper_reg">
    <form action="{% url 'usermanager:signup' %}" autocomplete="off" id="registerForm" method="POST">
        {% csrf_token %}
        <h2>Регистрация</h2>
        <div class="input-group">
            <input type="email" name="email" autofocus required id="id_email">
            <label for="id_email">Электронная почта:</label>
            <span class="icon">
                <i class="fa-regular fa-envelope"></i>
            </span>
            <span class="line"></span>
        </div>
        {{ form.email.errors }}
        <div class="input-group">
            <input type="password" name="password1" required id="id_password1">
            <label for="id_password1">Пароль:</label>
            <span class="icon" id="toggle_password1">
                <i class="far fa-eye-slash"></i>
            </span>
            <span class="line"></span>
        </div>
        {{ form.password1.errors }}
        <div class="input-group">
            <input type="password" name="password2" required id="id_password2">
            <label for="id_password2">Подтверждение пароля:</label>
            <span class="icon" id="toggle_password2">
                <i class="far fa-eye-slash"></i>
            </span>
            <span class="line"></span>
        </div>
        {{ form.password2.errors }}
        <button type="submit">Подтвердить</button>
        <div class="register">
            <p>Уже есть аккаунт? <a href="{% url 'usermanager:login' %}">Войти</a></p>
        </div>
        {{ form.captcha }}
        <div class="approval">
            <a href="#">
                Нажимая «Подтвердить», Вы соглашаетесь с условиями обработки персональных данных
            </a>
        </div>
    </form>
</div>
{% endblock login_form %}